:root {
	--header1: calc(2rem + 1vw);
	--header2: calc(3.5rem + 1vw);
	--header3: calc(3rem + 1vw);
	--header4: calc(2.4rem + 1vw);
	--text: calc(1.5rem + 1vw);
	--big: calc(6rem + 1vw);
	--special-color: #906272;
	--special-color2: #79515f;
	--special-color-opacity: #906272da;
	--bg-color: #414141;
	--grey-text: #525252;
	--shadow-color: 0deg 0% 71%;
	--shadow-color2: 0deg 0% 0%;
	--shadow-elevation-high: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.27), 0px 1.8px 2px -0.4px hsl(var(--shadow-color) / 0.26), 0.1px 3.2px 3.5px -0.8px hsl(var(--shadow-color) / 0.26),
		0.1px 5.3px 5.8px -1.1px hsl(var(--shadow-color) / 0.26), 0.2px 8.5px 9.4px -1.5px hsl(var(--shadow-color) / 0.25), 0.3px 13.3px 14.7px -1.9px hsl(var(--shadow-color) / 0.25),
		0.4px 20.3px 22.4px -2.3px hsl(var(--shadow-color) / 0.24), 0.6px 30px 33.1px -2.7px hsl(var(--shadow-color) / 0.24);
	--shadow-elevation-high2: 0px 0.4px 0.4px hsl(var(--shadow-color2) / 0.27), 0px 1.8px 2px -0.4px hsl(var(--shadow-color2) / 0.26), 0.1px 3.2px 3.5px -0.8px hsl(var(--shadow-color2) / 0.26),
		0.1px 5.3px 5.8px -1.1px hsl(var(--shadow-color2) / 0.26), 0.2px 8.5px 9.4px -1.5px hsl(var(--shadow-color2) / 0.25), 0.3px 13.3px 14.7px -1.9px hsl(var(--shadow-color2) / 0.25),
		0.4px 20.3px 22.4px -2.3px hsl(var(--shadow-color2) / 0.24), 0.6px 30px 33.1px -2.7px hsl(var(--shadow-color2) / 0.24);
}

/* frank-ruhl-libre-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Frank Ruhl normal';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/frank-ruhl-libre-v20-latin-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('./fonts/frank-ruhl-libre-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* frank-ruhl-libre-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Frank Ruhl medium';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/frank-ruhl-libre-v20-latin-500.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('./fonts/frank-ruhl-libre-v20-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* great-vibes-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Great Vibes';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/great-vibes-v15-latin-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../fonts/great-vibes-v15-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* Global Styles */
* {
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Frank Ruhl normal', sans-serif;
	animation: opening 1s ease-in-out;
}
li,
button,
label,
input,
p,
a {
	font-size: var(--text);
	font-weight: 300;
}
h1 {
	font-size: var(--header1);
	font-family: 'Great Vibes', sans-serif;
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4,
h5 {
	font-size: var(--header4);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: hsla(255, 100%, 0%, 1);
}
/* End of global styles */

/* Utility Classes */
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* End of Utility Classes */

/* Nav Section */
.main-head {
	box-shadow: var(--shadow-elevation-high);
	/* This 2 fixes the shadow issue not showing properly (z-index & position) */
	z-index: 2;
	position: sticky;
	top: 0;
	background: white;
}

nav {
	width: 90%;
	margin: auto;
	display: flex;
	/* align-items: center; */
	min-height: 10vh;
	padding-top: 2rem;
}
nav a {
	flex: 1 1 20rem;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	flex: 1 1 20rem;
}
.hero {
	min-height: 90vh;
	width: 95%;
	margin: 0 0 0 auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.hero-intro {
	flex: 2 1 40rem;
	text-align: center;
}
.hero-intro h2 {
	padding-top: 5rem;
}
.hero-intro p {
	padding: 5rem 10rem;
	color: var(--grey-text);
}
.hero-intro a {
	padding: 2rem 8rem;
	border: 3px solid black;
	margin-bottom: 4rem;
}
.hero-intro a:hover {
	background: rgb(238, 238, 238);
}
.hero-images {
	flex: 1 1 40rem;
	background: linear-gradient(#dad8dd, #dad1d4);
	position: relative;
	z-index: 1;
}
.hero-sarah {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.plant {
	position: absolute;
	max-height: 80%;
	bottom: 0;
	left: -20%;
	z-index: -1;
	transform: translateY(10%) rotateZ(-10deg) rotateX(-60deg);
	animation: plant-entrance 1.5s ease-in-out 0.5s forwards, plant-shake 2.5s infinite ease alternate-reverse 2s;
	transform-origin: bottom;
}
.plant2 {
	left: 40%;
}

/* Animations */
@keyframes opening {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes plant-entrance {
	from {
		transform: translateY(10%) rotateZ(-10deg) rotateX(-60deg);
	}
	to {
		transform: translateY(0) rotateZ(0deg) rotateX(0deg);
	}
}
@keyframes plant-shake {
	from {
		transform: rotateZ(-5deg);
	}
	to {
		transform: rotateZ(0deg);
	}
}

/* About Section */
.about {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.about-text {
	flex: 2 1 40rem;
	justify-content: space-around;
	background: var(--bg-color);
	color: white;
	padding-block: 5rem;
}
.about-text div {
	padding: 2rem 7rem;
}
.about-text h3 {
	padding: 2rem 0rem;
	font-family: 'Frank Ruhl medium';
}
.about-text h2 {
	font-family: 'Great Vibes';
}

.about-image {
	flex: 1 1 40rem;
	position: relative;
}
.about-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about-image h5 {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	letter-spacing: 2rem;
}

/* Gallery Section */
#gallery {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
}
.gallery1 {
	grid-column: 1/3;
}
.gallery2 {
	grid-column: 3/4;
	grid-row: 1/3;
}
#gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-head {
	position: absolute;
	background: var(--special-color-opacity);
	padding: 3rem 5rem;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	color: white;
	text-align: center;
}

/* Contact Section */
.contact {
	min-height: 70vh;
	display: flex;
	/* flex-wrap: wrap; */
}
.form-wrapper {
	flex: 3 1 40rem;
	padding: 0rem 5%;
}
.form-wrapper h2 {
	margin-bottom: 5rem;
}
.form-wrapper span {
	font-size: var(--big);
	color: var(--special-color);
}
.form-wrapper label {
	display: block;
}
.form-wrapper input {
	margin: 3rem 0;
	display: block;
	background: var(--bg-color);
	color: white;
	border: none;
	padding: 1rem;
}
.form-wrapper button {
	padding: 1rem 8rem;
	background: var(--special-color);
	color: white;
	border: none;
	cursor: pointer;
	width: 100%;
}
.form-wrapper button:hover {
	background: var(--special-color2);
}
.contact img {
	flex: 1 1 40rem;
}

/* Footer Section */
footer {
	background: var(--bg-color);
	padding-block: 1rem;
	text-align: center;
}
footer h4 {
	color: white;
	font-size: calc(1.4rem + 1vw);
}

/* Responsive */
@media screen and (max-width: 842px) {
	.hero {
		width: 100%;
	}
	.hero-intro p {
		padding: 5rem 3rem;
	}
	/* Gallery Section */
	#gallery {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	}
	#gallery img {
		grid-row: auto;
		grid-column: auto;
	}
	.gallery-head {
		display: none;
	}
	/* Contact info */
	.contact img {
		display: none;
	}

	/* Burguer menu */
	.burguer {
		z-index: 4;
		cursor: pointer;
	}
	.burguer span {
		padding: 0.2rem 1.5rem;
		background: var(--grey-text);
		margin: 0.5rem 0;
		display: block;
		transition: all 0.8s ease-out;
	}
	.nav-links a {
		color: white;
		font-size: var(--header3);
		text-decoration: underline;
	}
	.nav-links {
		background: var(--bg-color);
		width: 110vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 100vw;
		flex-direction: column;
		align-items: center;
		z-index: 3;
		transition: all 0.8s cubic-bezier(0.87, 0, 0.13, 1);
	}
	.nav-links__move {
		left: -10vw;
	}
	.close span {
		background: white;
	}
	.close :nth-child(1) {
		transform: translateY(0.9rem) rotateZ(45deg);
	}
	.close :nth-child(2) {
		transform: rotateZ(-45deg);
	}
	.close :nth-child(3) {
		transform: translateY(-0.9rem) rotateZ(45deg);
	}
	/* About section */
	.about-text div {
		padding: 3rem 3rem;
	}
}
